@use '@carbon/react';
@use './components/app-header';
@use '@carbon/grid';
@include grid.flex-grid();
@media screen and (min-width: 600px) {
    .loginForm {
        min-width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .site-footer {
        img {
            height: 60%;
            width: 60%;
        }
    }
    Form {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1%;
        margin-right: 1%;
        Button {
            margin: 0px;
            padding: 0px;
            display: inline-block;
        }
    }
}

.login-centered {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.LoginFormComponent {
    display: grid;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    * {
        padding-bottom: 5px;
    }
    ;
    Button {
        display: inline-block;
        align-items: center;
        width: 50%;
    }
}

.LoggedInContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    * {
        margin: 2%;
        padding-bottom: 3px;
    }
    DataTable {
        width: 100%;
    }
}

.ResponsiveDataTable {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    width: 100%;
    TableHead {
        font-weight: normal;
    }
}

.LoginHeading {
    display: grid;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 15px;
    font-weight: bold;
}

.inline_component {
    display: inline-block;
    width: 50%;
}

.site-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2%;
    position: absolute;
    bottom: 0;
    align-content: right;
    justify-content: right;
    * {
        margin-right: 1%;
        align-content: right;
        justify-content: right;
        text-align: right;
    }
}

.clickable-tile {
    width: 250px;
    height: 200px;
    padding-bottom: 10px;
    border: 1px solid black outset;
    border-style: outset;
}

Form {
    Button {
        width: 100%;
    }
}