@use '@carbon/react';
@use './components/app-header';
@use '@carbon/grid';
@include grid.flex-grid();
.login-centered {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.LoginFormComponent {
    display: grid;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    * {
        padding-bottom: 5px;
    }
    ;
    Button {
        display: inline-block;
        align-items: center;
        width: 50%;
    }
}

.LoggedInContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 2%;
    * {
        margin: 2%;
        padding-bottom: 3px;
    }
}

.ResponsiveDataTable {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    width: 100%;
    TableHead {
        font-weight: normal;
    }
}

.LoginHeading {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-bottom: 15px;
    font-weight: bold;
}

.LoginFooter {
    max-height: 150px;
    bottom: 0;
    left: 0;
    /* Re-designed by IntelliSOFT Consulting Ltd via Digital Square Funding */
    .FooterText {
        position: absolute;
        width: 652px;
        height: 24px;
        left: 1253px;
        top: 981px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
    /* image 1 */
    .Logo1 {
        position: absolute;
        width: 109px;
        height: 103px;
    }
    /* image 2 */
    .Logo2 {
        position: absolute;
        width: 161px;
        height: 105px;
    }
}

.inline_component {
    display: inline-block;
    width: 50%;
}